root = true

[*.cs]
indent_style = space
indent_size = 4
insert_final_newline = true
charset = utf-8

# Sort using statements
dotnet_sort_system_directives_first = true

# Separate import directive groups
dotnet_separate_import_directive_groups = true

[*.csproj]
indent_style = space
indent_size = 2
insert_final_newline = true
charset = utf-8
